body{
    width: 100vw;
}

*{
    margin: 0px;
    padding: 0px;
}

.flex_container{
    display: flex;
    padding: 0 36px;
   
}

ul {
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: column;  
    flex-wrap: wrap;
    background-color: #0000000d;
  }
  
  ul li{
    flex-direction: row;
    display: flex;
    justify-content:space-between;   
    flex-grow: 1;
    border: 1px solid #0000000d;
  }
  
  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }