*{
    margin: 0;
    padding: 0;
}


.flexContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    background-color: silver;
    align-items: center;
    min-width: 350px;
}



.itemsContainer{
    margin: 12px;
    display: flex;
    border: 1px solid black;
    background-color: white;
    height: auto;
    width: 100%;
    gap: 12px;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px; 
    flex-wrap: wrap;
    min-width: 300px;
    
}


.idTarea {
    display: flex;
    background-color: whitesmoke;
    flex-grow: 1;
    height:auto;
    border: 1px solid black;
    min-width: 50px;  
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    background-color: whitesmoke;
    flex-grow: 9;
    height: auto;
    border: 1px solid black;
    min-width: 250px;  
    align-items: center;
    justify-content: center;
}

.boton{
    display: flex;
    background-color: whitesmoke;
    flex-grow: 1;
    height:auto;
    border: 1px solid black;
    min-width: 50px; 
}

.subItemsContainer{
    display: flex;
    background-color: whitesmoke;
    flex-grow: 5;
    height: auto;
    border: 1px solid black;
    justify-items: c;
    justify-content: space-between;
    flex-direction: column;
    min-width: 250px;
}

.userId{
    display: flex;
    background-color: whitesmoke;
    width: auto;
    height: 45%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.booleano{
    display: flex;
    background-color: whitesmoke;
    width: auto;
    height: auto;
    border: 1px solid black;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    
}

.booleanoTrue{
    display: flex;
    background-color: whitesmoke;
    width: 45%;
    height:auto;
    border: 1px solid black; 
    justify-content: center;
}

.booleanoFalse{
    display: flex;
    background-color: whitesmoke;
    width: 45%;
    height:auto;
    border: 1px solid black;  
    justify-content: center;
}