body{
    width: 100vw;
}

*{
    margin: 0px;
    padding: 0px;
}

.flex_container{
    display: flex;
    padding: 0 36px;
    flex-direction: column;
}

ul{
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: column;  
    
    background-color: #ffffff;

}

  ul li{
    flex-direction: row;
    display: flex;
    justify-content:space-between;   
    flex-wrap: wrap;
    border: 1px solid #0000000d;
    flex-grow: 1;
    padding: 12px;
    align-items: center;
    
}

input{
    flex-grow: 1;
}
  
  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

  
ul li:nth-child(odd){
    background: #0000000d;
}

ul li:hover{
    background: #0000000d;
}

h1{
    padding: 36px 0;
}