.box {
    border: 2px solid black;
    display: block;
    position: absolute;
}

.box.blue {
    background-color: blue;
    width: 150px;
    height: 150px;
    top:50px;
    left: 50px;
    z-index: -2;
}

.box.red {
    background-color: red;
    width: 150px;
    height: 150px;
    top: 100px;
    left: 100px;
    
    
}

.box.yellow {
    background-color: yellow;
    width: 129px;
    height: 120px;
    top: -30px;
    right: 50px;
    content: "";
    display: block;
    z-index: -1;
}

.box.purple{
    background-color: purple;
    width: 150px;
    height: 150px;
    left: 150px;
    top: 150px;
    z-index: 1;
    
}
